/* @media only screen and (max-device-width: 480px) { */

header, body, footer {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: center;

}

main {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#modal-btn {
    margin-bottom: 10px;
}

.text-overlay {
background-color: black;
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 50%;
height: 100%;
width: 100%;
opacity: 0;
transition: .6s ease;
}

.random-button:hover .text-overlay {
  opacity: .75;
}

.hover-text {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'VT323', monospace;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.drink-display img {
  width: 275px;
  height: auto;
  display: block;
}

.drink-display div {
  display: block;
  margin: 10px 15px 10px auto;
  overflow: auto;
  color: black;
}

.ingMeasureDiv div {
  display: block;
}

.ingMeasureDiv ul, li {
  list-style: none;
}

.title {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    color: white;
}

h2 {
  font-family: 'VT323', monospace;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  margin-bottom: 5px;
}

.tag-line {
    font-family: 'VT323', monospace;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}


.main-content, div {
    display: flex;
    flex-flow: column;
    align-content: center;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 12px;
  border: none;
  font-family: 'VT323', monospace;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 0;
  cursor: pointer;
} 

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 1;
  justify-content: center;
}

.dropdown-content {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  min-width: 150px;
  padding: 12px 16px;
  max-height: 70px;
  overflow: auto;
  font-family: sans-serif;
  font-size: 11px;
  z-index: 2;
}

.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: gray;
}


form, select, .dropdown-content, #myDropdown {
  display: flex;
  justify-content: center;
  text-align: center;
}

.append-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: 200px;
  overflow: auto;
  padding-top: 0;
}

.append-directions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  overflow: auto;
  padding-bottom: 0;
}

.list-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 500px;
  height: 200px;
  overflow: auto;
}

.append-list p, div {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
}

.append-list h2 {
  color: white;
  margin-bottom: 0;
}



.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  top: 0;
  width: 400px;
  height: 225px; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  color: black;
}


.modal-content {
  position: relative; 
  background-color: white;
  font-family: sans-serif;
  color: black;
  font-size: 12px;
  padding: 20px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  height: 400px;
  overflow: auto;
  z-index: 2;
}


.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: darkgray;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

footer {
  font-size: small;
  font-family: 'VT323', monospace;
  color: white;
  margin-top: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a {
  color:lightblue;
  text-decoration: none;
}

a:hover {
  color: white;
}
