/* @media only screen and (max-device-width: 480px) { */

header, body, footer {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: center;

}

#modal-btn {
    width: 400px;
    margin-bottom: 10px;
}

.drink-display img {
  width: 275px;
  height: auto;
}

.drink-display div {
  display: block;
  margin: 10px 15px 10px auto;
  overflow: auto;
}

.ingMeasureDiv div {
  display: block;
}

.ingMeasureDiv ul, li {
  list-style: none;
}

.title {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    color: white;
}

h2 {
  font-family: 'VT323', monospace;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  margin-bottom: 5px;
}

.tag-line {
    font-family: 'VT323', monospace;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}


.main-content, div {
    display: flex;
    flex-flow: column;
    align-content: center;
}

/* .dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 12px;
  border: none;
  font-family: 'VT323', monospace;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 0;
} */

/* .dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 0;
  max-height: 50px;
  overflow: auto;
  font-family: sans-serif;
  font-size: 11px;
  z-index: 0;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: gray;
} */

.append-list p {
  color: white;
  font-family: sans-serif;
  font-size: 10px;
}

.show {
  display: block;
}


.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  top: 0;
  width: 400px;
  height: 225px; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.modal-content {
  position: relative; 
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
  padding: 20px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto;
  z-index: 1;
}


.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
  cursor: default;
}

.close-btn:hover {
  color: darkgray;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

footer {
  font-size: x-small;
  font-family: 'VT323', monospace;
  color: white;
  margin-top: 20px;
}



/* } */