/* @media only screen and (max-device-width: 480px) { */

header, body, footer {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: center;

}
#modal-btn {
    width: 400px;
    margin-bottom: 10px;
}

#modal-btn img:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.drink-display img {
  width: 275px;
  height: auto;
}

.drink-display {
  display: flex;
  flex-direction: column;
}

.title {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    color: white;
}

h2 {
  font-family: 'VT323', monospace;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
}

.tag-line {
    font-family: 'VT323', monospace;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}


.main-content, div {
    display: flex;
    flex-flow: column;
    align-content: center;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 12px;
  border: none;
  font-family: 'VT323', monospace;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  max-height: 50px;
  overflow: auto;
  font-family: sans-serif;
  font-size: 11px;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: gray
}

.show {
  display: block;
}


.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  top: 0;
  width: 400px;
  height: 225px; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative; 
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
  padding: 20px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto;
}


.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
  cursor: default;
}

.close-btn:hover {
  color: darkgray;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

footer {
  font-size: xx-small;
  font-family: 'VT323', monospace;
  color: white;
  margin-top: 20px;
}


/* } */